$gray1: #121214;
$gray2: #202024;
$gray3: #323238;
$gray4: #8d8d99;
$gray5: #c4c4cc;
$gray6: #e1e1e6;
$green: #00b37e;
$green1: #00875e;
$red: #f75a68;

$titles: $gray6;
$subtitles: $gray4;

$app-background: $gray1;
$header-background: $gray2;
$main-shape: $gray2;

$brand-light: $green;
$brand-mid: $green1;
