@import "../../styles/variables";

.comment {
  display: flex;
  margin-top: 2rem;

  & + & {
    margin-top: 1rem;
  }
}

.commentBox {
  flex: 1;
  margin-left: 1rem;

  .likeButton {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background: none;
    border: none;
    color: $gray4;
    font-weight: 700;

    svg {
      margin-right: 8px;
    }

    span::before {
      content: "\2022";
      padding: 0 0.25rem;
    }
  }
}

.commentContent {
  background-color: #29292e;
  padding: 1rem 1rem 1.5rem;
  border-radius: 8px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  p {
    color: $gray5;
    margin-top: 1rem;
    line-height: 1.6;
  }
}

.authorAndTime {
  display: flex;
  flex-direction: column;

  strong {
    color: $gray6;
    line-height: 1.6;
  }

  time {
    color: $gray4;
    font-size: 0.875rem;
    line-height: 1.6;
  }
}

.deleteButton {
  background: none;
  border: none;
  line-height: 0;
  border-radius: 4px;
  color: $gray4;
  transition: color 0.2s;

  &:hover {
    color: $red;
  }
}
